*{
     padding: 0%;
     margin: 0%;
     box-sizing: border-box;
}

.heading{
 width: 100%;
 position: relative;
 animation: mainhead  2s linear infinite;
}

.heading h1 {
  text-align: center;
  color: brown;
  text-shadow: 2px 2px 10px yellow;

 
}
@keyframes mainhead {
  from {background-image:linear-gradient(to right , grey, darkgrey);}
to {background-image:linear-gradient(to right , red, lightgreen);}
}
/*--------------mainnav----------------*/

.mainnav{
   height: 30%;
   width: 100%;
  display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin :10px 0px 0px 0px;
   align-items: center;
   animation: mainnav  2s linear infinite;
 
  }
  @keyframes mainnav {
    from {background-image:linear-gradient(to right , red, lightgreen);}
  to {background-image:linear-gradient(to right , grey, darkgrey);}
  }

.mainnav a{
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 10px white;
  color: black;
  

}



/*--------------button----------------*/

.btn{
    border: 1px solid black;
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 15%;
    background-image: linear-gradient(180deg , red,blue) ;
}

.btn button{
    background-color: transparent;
    height: 70px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.btn button:hover{
    border-radius: 15%;
    background-image: linear-gradient(180deg , grey , white);
}

.btn :hover{
    box-shadow: 2px 2px 10px yellow;
  
}



/*--------------animation----------------*/


.box{
    margin: 30px 0px 0px 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: mymove  5s infinite;
}

@keyframes mymove {
    from{left: 0px;}
    to{left: 300px;}
    
}
.box2{
    margin: 30px 0px 0px 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: example  4s linear infinite;
   
}
 @keyframes example {
    from {background-color: red;}
 to {background-color: yellow;}
  }

.box3{
    border: 2px solid black;
    margin: 30px 0px 0px 50px;
    width: 90px;
    height: 50px;
     margin-bottom: 220px;
    background-color: red;
    position: relative;
    animation: ex2 5s  linear infinite;
   
  }
  
  @keyframes ex2{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  .ex4{
      border: 2px solid black;
      width:500px
  }

.ex4 div{
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    margin: 10px 5px 10px 5px;
    animation: exx4 5s infinite;
  }
  
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  @keyframes exx4 {
    from {left: 0px;}
    to {left: 300px;}
  }

/*------------transform_css------------*/
#trnsfrmhead{
  padding: 10px 0px 5px 10px;
  position: relative;
  animation: trnsfrm  4s ease-in-out infinite;
}
 @keyframes trnsfrm {
  from {color: red;}
  to {color: blue;}
   }

.trsnfrm{
    margin: 20px 0px 0px 60px;
    border: 2px solid black;
    height: 400px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.trsnfrm div1{
   height:80px ;
   width: 80px ; 
   background-color: red;
   margin-bottom: 10px;
   transform: translate(50px,0px);  /*translate moves div 50px right 0px down */
}

.trsnfrm div2{
    height:80px ;
    width: 80px ; 
    background-color: purple;
    margin-bottom: 10px;
    transform: rotate(20deg);
 }

 .trsnfrm div3{
    height:80px ;
    width: 80px ; 
    background-color: blue;
    margin-bottom: 10px;
    transform: scale(1,1);
 }

 .trsnfrm div4{
    height:80px ;
    width: 80px ; 
    background-color: green;
    transform: skewX(20deg);
 }


 /*------------transition_css------------*/

 .trnstn{
    margin: 40px 0px 0px 60px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.trnstn  div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }

.trnstn  div:hover {
    width: 300px;
  }

 #div6 {transition-timing-function: linear;}
 .trnstn  div7 {transition-timing-function: ease;}
 .trnstn  div8 {transition-timing-function: ease-in;}
 .trnstn  div9 {transition-timing-function: ease-out;}
 .trnstn  div5 {transition-timing-function: ease-in-out;}


/*------------ transfromtransition-----------*/


.transfromtransition{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
    margin: 20px 0px 10px 100px;
  }
  
  .transfromtransition:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }
  
 


 
  