@media only screen and (max-width: 768px) {
    
    .mainnav{
        height: 30%;
        width: 100vw;
       display: flex;
        flex-direction: column;
        justify-content: center;
      
        align-items: center;
        animation: mainnav  2s linear infinite;
      
       }
       @keyframes mainnav {
         from {background-image:linear-gradient(to right , red, lightgreen);}
       to {background-image:linear-gradient(to right , grey, darkgrey);}
       }
     
     .mainnav a{
       font-size: 25px;
       text-decoration: none;
       font-weight: bold;
       text-shadow: 2px 2px 10px white;
       color: black;
       
     
     }

   





}