@media only screen and (max-width: 800px) {
    
    .mainnav{
      
        flex-direction: column;
        
        padding: 5px 0px 5px 0px ;

     
     }

     .mainnav a{
        color: white;
     }
    }

   





